$white-color: #fff;
$seashell-color: #F0F1F1;
$black-pearl-color: #0b131e;
$ebony-clay-color: #202b3b;
$butterfly-blue-color: #44a3ff;
$mountain-mist-color: #9399A2;
$ghost-color: #C4CAD3;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);
