@import "../../styles/index";

.modal {
  @include set-size(100vw, 100vh);
  @include flex(row, center, center);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;

  .modal_content {
    @include flex(column, center, center);
    padding: 20px;
    border-radius: 12px;
    background-color: $ebony-clay-color;
    width: 70%;

    .btn {
      margin-left: auto;
      margin-top: 10px;
    }
  }

  .close {
    color: $butterfly-blue-color;
    font-size: $font-size-large;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $ghost-color;
    }
  }
}
